@font-face {
    font-family: 'Playlist Script';
    src: url('fonts/Playlist Script.ttf') format('truetype'),
        url('fonts/Playlist Script.woff2') format("woff2"),
        url('fonts/Playlist Script.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}